

    <header class="theme" id="class_selection" style="padding:20px">
        <form class="form-inline" id="date_picker" method="get" action="/list/">
            <label for="inputDate">選取日期</label>
            <div class="row">
                <div class="form-group">
                    <input type="date" class="form-control" id="inputDate" name='date'
                           onchange="date_picker.submit();" pattern="^(\d+)-(\d+)-(\d+)$">
                </div>
            </div>
        </form>
    </header>
    <section id="result_students" style="padding-top:20px; padding-bottom:80px; padding-left:15%; padding-right:15%">

        <header class="page-header">
            <h1>{{the_date}}</h1>
            <button type="button" class="btn btn-default" onclick="window.print();">列印</button>
            <button type="button" class="btn btn-default" onclick="move_remainer_to_fail();">歸類未到</button>
        </header>


        <section id="app"></section>

        {% for class,stu_list in student_by_class.items %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>{{ class }}</h2>
                <button class="btn btn-default hide-btn">隱藏/顯示</button>
            </div>
            <!-- Table -->
            <table class="table table-bordered student_list hidden" style="display:none;">
                <thead><tr>
                    <th>姓名</th>
                    <th>座號</th>
                    <th>學號</th>
                    <th>狀況</th>
                    <th>行動</th>
                    <th>簽退</th>
                </tr></thead>
                {% for stu in stu_list %}
                    <tr id="stu-{{ stu.student_id }}">
                        <td>{{ stu.name }}</td>
                        <td>{{ stu.id_in_class }}</td>
                        <td>{{ stu.student_id }}</td>
                        {% if stu.today_status == "Full" %}
                            <td>已掃完</td><td><button type="button" class="btn btn-danger" data-student-id="{{stu.student_id}}" data-type="Cancel">取消</button></td>
                        {% elif stu.today_status == "OneThird" %}
                            <td>已掃完(1/3)</td><td><button type="button" class="btn btn-danger" data-student-id="{{ stu.student_id }}" data-type="Cancel">取消</button></td>
                        {% elif stu.today_status == "Fail" %}
                            <td>未到</td></td><td>
                        {% elif stu.today_status == "Pending" %}
                            <td>排定</td><td><button type="button" class="btn btn-success" data-student-id="{{ stu.student_id }}" data-type="Finish">打卡</button></td>
                        {% endif %}
                        <td></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}

    </section>
    {% load staticfiles %}
    <script src="{% static 'js/react.min.js' %}"></script>
    <script>
        const testData = [ ['陳邦菁',1,960106,'3'],['陳邦菁',1,960106,'3'],['陳邦菁',1,960106,'3']];
        const CCClasses = {
            {% for class,stu_list in student_by_class.items %}
            '{{ class }}':[
                {% for stu in stu_list %}
                ['{{stu.name}}','{{stu.id_in_class}}','{{stu.student_id}}','{{stu.today_status}}'],
                {% endfor %}
                ],
            {% endfor %}
            };

        var theRow = React.createClass({
            submitByState: function(){
                console.log('clicked');
            },
            render: function(){
                var self = this;
                var button = (true) ? React.DOM.button({className:'btn btn-success', onClick:self.submitByState},'打卡') :
                                      React.DOM.button({className:'btn btn-danger', onClick:self.submitByState},'取消');
                return (
                    React.DOM.tr(null,
                        this.props.data.map( function(cell,idx){
                            return React.DOM.td(null,cell);
                        }),
                        React.DOM.td(null,button
                        ),
                        React.DOM.td(null,''
                        )
                    )
                );
            }
        });

        var panel = React.createClass({
            headers: ['姓名','座號','學號','狀況','行動','簽退欄'],
            render: function(){
                return (
                    React.DOM.div(
                        {
                            className:'panel panel-default',
                        },
                        React.DOM.div(
                            {
                                className:'panel-heading'
                            },
                            React.DOM.h2(null,
                                this.props.classString,
                                React.DOM.button(
                                    {
                                        className: 'btn btn-default hide-btn'
                                    },
                                    '隱藏/顯示'
                                )
                            )
                        ),
                        React.DOM.table(
                            {
                                className: 'table table-bordered student_list'
                            },
                            React.DOM.thead(null,
                                React.DOM.tr(null,
                                    this.headers.map( function(v,idx){
                                        return React.DOM.td(null,v);
                                    })
                                )
                            ),
                            React.DOM.tbody(null,
                                this.props.data.map(function(arrayOfRow,idx){
                                    return React.createElement(theRow, {data: arrayOfRow});
                                })
                            )

                        )
                    )
                );
            }
        });

        var listOfPanel = React.createClass({
            render: function(){

                var result = [];
                for( var classKey in this.props.datas){
                    result.push( React.createElement(panel,{classString:classKey,data:CCClasses[classKey]}));
                }
                return React.DOM.div(null,result);
            }
        })

        React.render(
            React.createElement(listOfPanel,{datas:CCClasses})
            ,
            document.getElementById('app')
        );
    </script>

    <script>
        $('.hide-btn').click(function(e){
            var table = $($(this).parent().next());
            if( table.hasClass('hidden') ){
                table.show();
                table.removeClass('hidden');
            }else{
                table.hide();
                table.addClass('hidden');
            }
        });

        $('.student_list').click(function(e){
            var target = $(e.target)
            var stu_id = target.data('student-id');
            var type = target.attr('data-type');
            var data_to_send = {student_id: stu_id,
                                csrfmiddlewaretoken:getCookie('csrftoken'),
                                date: '{{ the_date }}'};

            if (type == 'Finish'){
                $.post('/list/complete/', data_to_send,function(data){
                    if (data.success){
                        var local_target = target;
                        var status = $(target.parent().prev());
                        local_target.hide();
                        status.hide();

                        status.text('已掃完')
                        local_target.addClass('btn-danger');
                        local_target.removeClass('btn-success');
                        local_target.attr('data-type','Cancel');
                        local_target.text('取消');

                        status.show()
                        local_target.show();
                    }
                });
            }else if (type == 'Cancel'){
                $.post('/list/cancel/',data_to_send,function(data){
                    if (data.success){
                        var local_target = target;
                        var status = $(target.parent().prev());
                        local_target.hide();
                        status.hide();

                        status.text('未打掃')

                        local_target.removeClass('btn-danger');
                        local_target.addClass('btn-success');
                        local_target.text('打卡');
                        local_target.attr('data-type','Finish');

                        local_target.show();
                        status.show()
                    }
                });
            }
        });

        function move_remainer_to_fail(){
            var stu_ids = [];
            var candidate = $('button[data-type="Finish"]');
            candidate.each(function(i,v){
                var button = $(v);
                stu_ids.push( button.data('student-id') );
            });
            var data_to_send = {student_ids: JSON.stringify(stu_ids),
                                csrfmiddlewaretoken:getCookie('csrftoken'),
                                date: '{{ the_date }}'};

            $.post('/list/fail_the_rest/',data_to_send,function(data){
                if( data.success){

                    candidate.parent().prev().text('未到');
                    candidate.remove();
                }
            });
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $('#date_picker').submit(function(e){
            if ( !/^(\d+)-(\d+)-(\d+)$/.exec($('#inputDate').val() ) ){
                alert("時間格式應為 年份-月份-日");
                return false;
            }
        });
    </script>
