    <header class="theme" id="class_selection" style="padding:20px">
        <form id="date_picker" method="GET">
            <label>選取日期</label>
            <input type="date" id="date">
            <button type="submit" id="submit">查詢</button>
        </form>
    </header>
    <section id="result_students" style="padding-top:20px; padding-bottom:80px; padding-left:15%; padding-right:15%">
        <header><h2>{{ today }}</h2></header>
        <table class="table table-bordered">
            <thead><tr>
                <th>姓名</th>
                <th>學號</th>
                <th>剩餘掃地次數</th>
                <th>掃地日期一</th>
                <th>掃地日期二</th>
                <th>掃地日期三</th>
            </tr></thead>
            {% for stu in stu_list %}
                <tr data-student-id="{{ stu.student_id }}">
                    <td>{{ stu.name }}</td>
                    <td>{{ stu.student_id }}</td>
                    <td>{{ stu.times_remain_to_clean }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>
    <script>
        $('#submit').click(function(e){
            var d = $('#date').val();
            form = $('#date_picker');
            form.attr('action','/list/'+d+'/');
            form.submit();
        });
    </script>