<html>
<head>
    <title>Manage page</title>
    {% load staticfiles %}
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
</head>
<body>
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
</body>
</html>

<html>
<head>
    <title>Manage page</title>
    {% load staticfiles %}
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
</head>
<body>
    <header id="class_selection" style="background-color:#c7bff5;padding:20px">
        <label for="student_id">請輸入學號</label>
        <input name="student_id" id="student_id" type="tel">
        <button type="button" class="btn btn-default" onclick="remove_students();request_student($('#student_id').val());">
            查尋
        </button>
    </header>
    <section id="result_students" style="padding-top:20px; padding-bottom:80px; padding-left:15%; padding-right:15%">
    {% for e in error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{e}}
        </div>
    {% endfor %}
    </section>
    <section id="action_selection" style="background-color:#c7bff5;padding:20px;position: fixed;width: 100%;bottom: 0;">
        <p>增加掃地日期
        <input type="date" id="date-picker">
        <button type="button" id="submitter">確定</button>
        </p>
    </section>

    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>

        function request_student(student_id){
            $.getJSON('/search/id/'+student_id , function(data){
                if( !data.error ){
                    handle_students(data)
                }
            });
        }

        function handle_students(json){
            var student = JSON.parse(json);
            var documentFragment = $('<table class="table table-bordered"></table>');
            documentFragment.append( $('<thead><tr><th>姓名</th><th>學號</th><th>剩餘掃地次數</th>\
                                        <th>掃地日期一</th><th>掃地日期二</th><th>掃地日期三</th></tr></thead>' ) );

            var fields = student[0].fields;
            var row = $('<tr data-student-id="'+fields.student_id+'"></tr>');
            row.append( $('<td>'+fields.name+'</td><td>'+fields.student_id+'</td><td>'+fields.times_remain_to_clean+'</td>') );
            JSON.parse(fields.date_to_come).forEach(function(value){
                row.append( $('<td>'+value+'</td>'));
            });
            documentFragment.append(row);
            $('#result_students').append( documentFragment );
        }

        function remove_students(){
            var dom = $('table');
            var parent = $(dom.parent());
            parent.hide();
            dom.remove();
            parent.show();
        }

        $('#submitter').click(function(e){
            var ids = [];
            $('tr[data-student-id]').each(function(_,value){
                ids.push(value.getAttribute('data-student-id'));
            });
            var form = $('<form action="/managing/schedule_date/" method="POST"></form>');
            form.append( $('<input name="students-id" value=\' '+JSON.stringify(ids)+' \'>') );
            form.append( $('<input name="date" value="'+$("#date-picker")[0].value+'">') );
            form.append( $("{% csrf_token %}"));
            form.submit();
        });
    </script>
</body>
</html>