    <section id="result_students" style="padding-top:20px; padding-bottom:80px; padding-left:15%; padding-right:15%">
    {% for e in error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{e}}
        </div>
    {% endfor %}
    {% if student %}
        <table class="table table-bordered">
            <thead><tr>
                <th>姓名</th><th>學號</th><th>剩餘掃地次數</th>
                <th>掃地狀態</th>
            </tr></thead>

            <tr id="stu-{{ student.student_id }}">
                <td>{{ student.name }}</td>
                <td>{{ student.student_id }}</td>
                <td>{{ student.day_last }}</td>
                <td>
                {% for date,state in student.date_schedule.items %}
                    {{ date }}
                    <select class="date-state" data-date="{{date}}">
                            <option value="Fail" {% if state == 'Fail' %}selected{% endif %}>應到未到</option>
                            <option value="Full" {% if state == 'Full' %}selected{% endif %}>打掃1次</option>
                            <option value="OneThird" {% if state == 'OneThird' %}selected{% endif %}>打掃1/3次</option>
                            <option value="Pending" {% if state == 'Pending' %}selected{% endif %}>有排班</option>
                    </select>
                    <br>
                {% endfor %}
                </td>

                <td>
                    <button type="button" id="update">更新</button>

                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            新增
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>
                                <form action="/search/add/" method="POST">
                                    {% csrf_token %}
                                    <input name="date" type="date">
                                    <input name="student-id" type="hidden" value="{{ student.student_id }}">
                                    <select name="type">
                                        <option value="Fail">應到未到</option>
                                        <option value="Full">打掃1次</option>
                                        <option value="OneThird">打掃1/3次</option>
                                        <option value="Pending">有排班</option>
                                    </select>
                                    <input type="submit">
                                </form>
                            </li>
                        </ul>
                    </div>
                </td>


            </tr>

            {% for d in student.date_to_come %}
                <td>{{ d }}</td>
            {% endfor %}
        </table>
    {% endif %}
    </section>
    <script>
        $('#update').click(function(e){
            var x = $('.date-state');
            var param = new Object();
            var dates = new Object();
            x.each(function(i,v){
                var value = $(v);
                dates[value.data('date')] = value.val();
            });
            param['theDates'] = JSON.stringify( dates );
            param['student-id'] = '{{ student.student_id }}' ;
            param['csrfmiddlewaretoken'] = getCookie('csrftoken');

            $.post('/search/update/', param ,function(data){
                if (data.success){
                    alert("成功");
                }
            });
        });
    </script>