    <header id="class_selection" class="theme" style="padding:20px">
        <header>
            <h3>選擇班級</h3>
            <div class="btn-group" role="group" aria-label="...">
                {% for grade in grades %}
                <div class="btn-group dropdown" role="group">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {% if forloop.counter == 1 %}一年級{% elif forloop.counter == 2 %}二年級{% elif forloop.counter == 3 %}三年級{% endif %}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        {% for class in grade %}
                        <li data-grade="{{class.grade}}" data-class="{{class.number}}"><a>{{class.name}}</a></li>
                        {% endfor %}
                        <li data-grade="{{ forloop.counter }}" data-class="uncomming"><a>{{ forloop.counter }}年級未到</a></li>
                    </ul>
                </div>
                {% endfor %}
            </div>
        </header>
    </header>
    <section id="result_students" style="padding-bottom:80px; padding-left:15%; padding-right:15%">
    <h1>共選擇<span id="count">0</span>人</h1>
    {% for e in error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ e }}
        </div>
    {% endfor %}
    </section>
    <section id="action_selection" style="background-color:#c7bff5;padding:20px;position: fixed;width: 100%;bottom: 0;">
        <form class="form-inline">
            <label for="date-picker"><h4>增加掃地日期</h4></label>
            <div class="form-group">
                <input type="date" class="form-control" id="date-picker" name='date' pattern="^(\d+)-(\d+)-(\d+)$">
            </div>
            <button type="submit" id="submitter" onclick="return false;" class="btn btn-default">指派</button>
            </div>
        </form>
    </section>

    <script>
        var count = 0;
        var do_not_hide = false;

        $('.dropdown').on('hide.bs.dropdown', function (e,f) {
            if ( do_not_hide ){
                e.preventDefault();
                do_not_hide = false;
            }
        })

        $('.dropdown-menu').click(function(e){
            do_not_hide = true;
        });


        $('.dropdown-menu > li').click(function(e){
            var class_dom = $(this);
            if ( !class_dom.hasClass('active') ){
                request_students( class_dom.data('grade'),class_dom.data('class') );
            }else{
                remove_students( class_dom.data('grade'),class_dom.data('class') );
            }
            class_dom.toggleClass('active');
        });


        function request_students(grade,class_param){
            if( class_param == "uncomming" ){
                $.getJSON('/managing/uncomming_students/'+grade+'/' , function(data){ handle_students(data,grade,"未到") });
            }else{
                $.getJSON('/managing/students/'+grade+'/'+class_param , function(data){ handle_students(data,grade,class_param) });
            }
        }


        function handle_students(json,grade,num){
            var students = JSON.parse(json);
            var local_count = 0;
            var table = $('<table class="table table-bordered"></table>');
            table.append('<thead><tr><th>班級</th><th>姓名</th><th>座號</th><th>學號</th><th>剩餘次數</th><th>掃地狀況</th></tr></thead>');

            students.forEach(function(v){
                var fields = v;
                var schedule = JSON.parse(fields.date_schedule);
                var day_last = day_last_parser(fields.should_come_count, schedule);

                if ( day_last.count > 0 ){
                    local_count += 1;
                    var row = $('<tr data-student-id="'+fields.student_id+'"></tr>');
                    row.append( $('<td>'+fields.class_name+'</td>') );
                    row.append( $('<td>'+fields.name+'</td>') );
                    row.append( $('<td>'+fields.id_in_class+'</td>') );
                    row.append( $('<td>'+fields.student_id+'</td>') );
                    row.append( $('<td>'+fields.name+'</td>') );
                    row.append( $('<td>'+day_last.str+'</td>') );

                    var dates_str = '<ul class="list-group">';
                    for (key in schedule){
                        var type;
                        var description;
                        if ( schedule[key] == 'Pending'){   type = ''; description = '待掃中';}
                        if ( schedule[key] == 'Full' || schedule[key] == 'OneThird'){    type = 'list-group-item-success';description = '已完成';}
                        if ( schedule[key] == 'Fail'){    type = 'list-group-item-danger';description = '未打掃';}
                        dates_str += '<li class="list-group-item '+ type +'">'+key+'  :  '+description+ '</li>';
                    }
                    dates_str += '</ul>';
                    if (dates_str == '<ul class="list-group"></ul>') dates_str = '無紀錄';
                    row.append( $('<td>'+dates_str+'</td>') );
                    table.append(row);
                }
            });

            var heading = $('<div class="panel-heading"><h2>' + grade + '年' + num +'班</h2></div>');
            var documentFragment = $('<div class="panel panel-default" data-grade='+grade+' data-class='+num+' data-student-count='+local_count+'></div>');
            count += local_count;
            documentFragment.append(heading);
            documentFragment.append(table);

            $('#count').text(count);
            $('#result_students').append( documentFragment );
        }

        function day_last_parser(day_come_count,schedule){
            var day_count = 0;
            for ( key in schedule ){
                var state = schedule[key];
                if ( state == "Full"){
                    day_count += 3;
                }else if( state == "OneThird" ){
                    day_count += 1;
                }
            }
            day_last = day_come_count*3 - day_count;
            day_last_str = Math.floor(day_last/3) + ( (day_last%3) ? '又'+(day_last%3)+'/3' : '' );
            return {count: day_last, str: day_last_str};
        }

        function remove_students(grade,number){
            var dom;
            if (number == "uncomming"){
                dom = $('.panel[data-grade='+grade+'][data-class="未到"]');
            }else{
                dom = $('.panel[data-grade='+grade+'][data-class='+number+']');
            }
            dom.each(function(idx,value){
                var children = value.getElementsByTagName('tr');
                count -= dom.data('student-count');
                $('#count').text(count);
            });
            var parent = $(dom.parent());
            parent.hide();
            dom.remove();
            parent.show();
        }

        $('#submitter').click(function(e){

            date_str = $('#date-picker').val();

            if ( !/^(\d+)-(\d+)-(\d+)$/.exec( date_str ) ){
                alert("時間格式應為 年份-月份-日");
                return false;
            }
            if ( new Date(date_str).toString() == 'Invalid Date' ){
                alert("時間無效，請重新檢查");
                return false;
            }

            var ids = [];
            $('tr[data-student-id]').each(function(_,value){
                ids.push(value.getAttribute('data-student-id'));
            });
            var form = $('<form action="/managing/schedule_date/" method="POST"></form>');
            form.append( $('<input name="students-id" value=\' '+JSON.stringify(ids)+' \'>') );
            form.append( $('<input name="date" value="'+$("#date-picker")[0].value+'">') );
            form.append( $("{% csrf_token %}"));
            form.submit();
        });
    </script>