    <header id="class_selection" style="padding:20px" class="theme">
        <header>
            <h3>選擇年級</h3>
            <div class="btn-group" id="grade-group">
                <button class="btn btn-default" type="button" data-grade="1">一年級</button>
                <button class="btn btn-default" type="button" data-grade="2">二年級</button>
                <button class="btn btn-default" type="button" data-grade="3">三年級</button>
            </div>
        </header>
        <h3>選擇班級</h3>
        <div class="class-container" data-grade="1"></div>
        <div class="class-container" data-grade="2"></div>
        <div class="class-container" data-grade="3"></div>
    </header>
    <section id="result_students" style="padding-top:20px; padding-bottom:80px; padding-left:15%; padding-right:15%">
    </section>

    <script>
        $('#grade-group').click(function(e){
            var grade_dom = $(e.target);

            remove_classes();
            remove_students();

            request_classes(grade_dom.data('grade'));
        });

        function request_classes(num){
            $.getJSON('/managing/classes/'+num ,function(data){ handle_classes(data,num) });
        }

        function request_students(grade,class_number){
            $.getJSON('/managing/students/'+grade+'/'+class_number , function(data){ handle_students(data,grade,class_number) });
        }

        function handle_classes(json,grade){
            var classes = JSON.parse(json);
            var documentFragment = $(document.createDocumentFragment());
            var select = $('<select class="form-control"></select>');
            select.append( $('<option>選擇班級</option>') );
            classes.forEach(function(value){
                var fields = value.fields;
                select.append( $('<option value="'+grade+'-'+fields.number+'">'+fields.name+'</option>') );
            });

            select.on('change', handle_select_change );
            documentFragment.append(select);
            $('.class-container[data-grade='+ grade +']').append(documentFragment);
        }

        function handle_select_change(e){
            remove_students();
            var gn = e.target.value.split('-');
            request_students(gn[0],gn[1]);
        }

        function handle_students(json,grade,num){
            var students = JSON.parse(json);

            var table = $('<table class="table table-bordered"><thead><tr><th>姓名</th><th>學號</th><th>剩餘掃地次數</th>\
                                        <th>掃地狀況</th></tr></thead></table>');
            students.forEach(function(value){
                var fields = value.fields;
                var schedule = JSON.parse(fields.date_schedule);
                var day_last = fields.should_come_count;
                var day_count = 0;
                for ( key in schedule ){
                    var state = schedule[key];
                    if ( state == "Full"){
                        day_count += 3;
                    }else if( state == "OneThird" ){
                        day_count += 1;
                    }
                }
                day_last = fields.should_come_count*3 - day_count;

                if ( day_last > 0 ){
                    var row = $('<tr data-student-id="'+fields.student_id+'"></tr>');
                    row.append( $('<td>'+fields.name+'</td><td>'+
                                         fields.student_id+'</td><td>'+
                                         Math.floor(day_last/3)+
                                         ( (day_last%3) ? '又'+(day_last%3)+'/3' : '' ) +'</td>') );

                    var dates_str = '';
                    for (key in schedule){
                        dates_str += key+'  :  '+schedule[key] + '<br>';
                    }
                    row.append( $('<td>'+dates_str+'</td>') );
                    table.append(row);
                }
            });

            var heading = $('<div class="panel-heading"><h2>' + grade + '年' + num +'班</h2></div>');
            var documentFragment = $('<div class="panel panel-default"></div>');
            documentFragment.append(heading);
            documentFragment.append(table);

            $('#result_students').append( documentFragment );
        }

        function remove_classes(){
            var dom = $('.class-container[data-grade]');
            dom.hide();
            dom.empty();
            dom.show();
        }

        function remove_students(){
            var dom = $('.panel');
            var parent = $(dom.parent());
            parent.hide();
            dom.remove();
            parent.show();
        }

    </script>
